<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0
Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>管理员登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
  </head>

  <body>
    <h1>
      登录
    </h1>
    <div class="login">
      <form action="/login" method="post" accept-charset="utf-8">


        <p><input type="submit" value="Continue &rarr;"/></p>
      </form>
    </div>

  </body>
</html>
