<div id="footer"> <!-- footer starts. -->
  <div class="third-nav">
    <ul>
      <li>关于我们
        <ul>
          <li><a href="#f-1">A佳教育简介</a></li>
          <li><a href="#f-2">A佳教育文化</a></li>
          <li><a href="#f-3">A佳教育历程</a></li>
          <li><a href="#f-4">A佳教育荣誉</a></li>
        </ul>
      </li>
      <li>加入我们
        <ul>
          <li><a href="f-5">招聘流程</a></li>
          <li>薪酬福利</li>
          <li>培训体系</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="copyright">
    Copyright &copy; 2008-2011 A佳教育 All Rights Reserved
  </div>
</div> <!-- footer ends. -->

</div> <!-- container ends. -->
</body>
</html>
