<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$config.site_name</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <link href="$config.static/styles/reset.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="$config.static/styles/index/style.css" rel="stylesheet" type="text/css" media="screen" />
    </head>
<body>

  <div id="container"> <!-- container starts. -->
    <div id="header"> <!-- header starts. -->
      <div id="top-banner">
        <div id="top-banner-link">
          <a href="/">A佳教育首页</a>
          <a id="HomePage"  href="javascript:void(0);">设为首页</a>
          <a id="enshrine"  href="javascript:void(0);">加入收藏</a>
          <a href="/admin/login">管理员登录</a>
        </div>
      </div>

      <div id="logo">
        <h1><a href="/" img alt="首页" src="logo.png" /></a></h1>
      </div>

      <div id="main-nav">
        <ul>
          <li><a href="/" class="tn">首页</a></li>
          <li><a href="/about" class="tn">学校简介</a></li>
          <li><a href="/activities" class="tn">活动讲座</a></li>
          <li><a href="/courses" class="tn">课程大全</a></li>
          <li><a href="/teachers" class="tn">名师园地</a></li>
          <li><a href="/contact" class="tn">联系方式</a></li>
        </ul>
      </div>

    </div> <!-- header ends. -->

    <div id="main"> <!-- main starts. -->
      <div id="secondary-nav"> <!-- secondary-nav starts. -->
        <p>课程导航</p>
        <ul>
          <!--
          $#$for grade in grades:
          $#<li><a href="/grade/$grade.grade_id">$grade.grade_name 
          $#    $if grade.grade_alias != "": 
          $#    ($grade.grade_alias)
          </a></li>
          -->
          <li><a href="/grades/1">小学一年级</a></li>
          <li><a href="/grades/2">小学二年级</a></li>
          <li><a href="/grades/3">小学三年级</a></li>
          <li><a href="/grades/4">小学四年级</a></li>
          <li><a href="/grades/5">小学五年级</a></li>
          <li><a href="/grades/6">小学六年级(小升初)</a></li>
          <li><a href="/grades/7">初中一年级</a></li>
          <li><a href="/grades/8">初中二年级</a></li>
          <li><a href="/grades/9">初中三年级(初升高)</a></li>
          <li><a href="/grades/10">高中一年级</a></li>
          <li><a href="/grades/11">高中二年级</a></li>
          <li><a href="/grades/12">高中三年级</a></li>
        </ul>
      </div> <!-- secondary-nav ends. -->
