<%inherit file="base.html" />

<%def name="title()">首页</%def>
<%def name="path()">
><label for=""><a href="/">首页</a></label>
</%def>

<div id="adPic">
    <a href="#">
        <img src="../static/images/ad.jpg" alt="暑假班" />
    </a>
</div>
<div id="activity" class="box">
    <h4>最新活动</h4>
    <ul>
        <li><a href="#">A佳教育秋季班火热报名中</a></li>
        <li><a href="#">A佳教育秋季班火热报名中</a></li>
        <li><a href="#">A佳教育秋季班火热报名中</a></li>
        <li><a href="#">A佳教育秋季班火热报名中</a></li>
        <li><a href="#">A佳教育秋季班火热报名中</a></li>
        <!--
        -->
    </ul>
</div>
<div class="clear"></div>
<div id="content" class="box">
    <h1>A佳教育，用心做中小学补习</h1>
    <strong>快乐学习教育集团简介：</strong>
    快乐学习教育集团，由2005年4月21日成立的快乐学习教育咨询工作室发展壮大而来。目前，集团核心业务包括：为中小学生提供专业的课外辅导，为大学生引导合理的职业生涯规划，为家长提供科学的家庭教育指导，为实施素质教育推广与传播快乐学习法。
    自创立以来，快乐学习先后获得“消费者最喜爱教育培训机构”、“教育培训示范点”、“全国青少年课外教育优秀品牌机构”、“诚信教育培训机构”、“2009中国最具影响力课外辅导机构”、“2010厦门教育培训行业标杆服务机构”等诸多荣誉和称号。
    2009年 11月，快乐学习联合教育名家成立了“快乐学习考试研究院暨快乐学习法研究基地”，掀开了快乐学习发展历史的新篇章。2010年10月团中央向快乐学习教育集团授予“青年就业创业见习基地”称号。
    快乐学习旗下拥有“快乐学习教育培训学校”及“韦尔培个性化教育”两大教育品牌。经过七年的发展，快乐学习现已成为厦门、上海、福州、泉州、南昌五地最具影响力的大型综合教育机构之一，在中小学课外辅导领域更是口碑载誉，备受学生及家长朋友信赖。
    经过七年的发展，快乐学习现已在厦门，上海，福州，泉州，南昌，五地开设有32个大型校区，全职教学工作人员近1000人，另有兼职教学及工作人员400多人，我们的团队正在逐渐壮大和成熟。
    2012年对于快乐学习而言是奋斗的一年，是开拓的一年，更将是胜利的一年。快乐学习如此高速的发展得益于一支优秀的团队。几年的创业历程中，艰难与挫败磨练出了这支坚强的团队，他们年轻又不失沉稳，激情且务实，怀揣梦想又脚踏实地。我们的口号是“越艰难，越坚强”，我们坚信“团队强大，无往不胜”。

    <strong>我们的愿景</strong>：教育改变中国
    <strong>我们的使命</strong>：让每个学生快乐学习
    <strong>我们的教育理念</strong>：有进步，学习当然快乐
</div>

