<%inherit file="base.html" />

<%def name="title()">首页</%def>

<div id="content">
  <div id="news">
    <h4>最新消息</h4>
    <ul class="title">
      <li><a href="#">A佳教育秋季班火热报名中</a><span>2011-09-07</span></li>
      <li><a href="#">A佳教育秋季班火热报名中</a></li>
      <li><a href="#">A佳教育秋季班火热报名中</a></li>
      <li><a href="#">A佳教育秋季班火热报名中</a></li>
      <li><a href="#">A佳教育秋季班火热报名中</a></li>
    </ul>
  </div>
  <div id="activity">
    <h4>最新活动</h4>
    <ul class="title">
        % if activities:
            % for activity in activities:
            <li><a href="/activity/${activity.activity_id}/">${activity.activity_title}</a></li>
            % endfor
        % endif
      <!--
      <li><a href="#">A佳教育秋季班火热报名中</a></li>
      <li><a href="#">A佳教育秋季班火热报名中</a></li>
      <li><a href="#">A佳教育秋季班火热报名中</a></li>
      <li><a href="#">A佳教育秋季班火热报名中</a></li>
      <li><a href="#">A佳教育秋季班火热报名中</a></li>
      -->
    </ul>
  </div>

  <div id="intro">
    <h1>A佳教育，用心做中小学补习</h1>
    <p> A佳教育是教育主管部门批准的正规补习机构。学校立足于厦门中考、福建高考的自主命题特点，秉持“诚信、专业、服务、创新 ” 
      的经营理念和“品质第一、学生满意、家长放心”的办学宗旨，是厦门最具成长力的补习学校，更是消费者最喜爱的教育培训机构。
      的经营理念和“品质第一、学生满意、家长放心”的办学宗旨，是厦门最具成长力的补习学校，更是消费者最喜爱的教育培训机构。
      的经营理念和“品质第一、学生满意、家长放心”的办学宗旨，是厦门最具成长力的补习学校，更是消费者最喜爱的教育培训机构。
      的经营理念和“品质第一、学生满意、家长放心”的办学宗旨，是厦门最具成长力的补习学校，更是消费者最喜爱的教育培训机构。</p>
    <p> A佳教育是教育主管部门批准的正规补习机构。学校立足于厦门中考、福建高考的自主命题特点，秉持“诚信、专业、服务、创新 ” 
      的经营理念和“品质第一、学生满意、家长放心”的办学宗旨，是厦门最具成长力的补习学校，更是消费者最喜爱的教育培训机构。
      的经营理念和“品质第一、学生满意、家长放心”的办学宗旨，是厦门最具成长力的补习学校，更是消费者最喜爱的教育培训机构。
      的经营理念和“品质第一、学生满意、家长放心”的办学宗旨，是厦门最具成长力的补习学校，更是消费者最喜爱的教育培训机构。
      的经营理念和“品质第一、学生满意、家长放心”的办学宗旨，是厦门最具成长力的补习学校，更是消费者最喜爱的教育培训机构。</p>
  </div>
</div>

